@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;

@tailwind utilities;

/* import font poppins from google fonts */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
main {
    @apply  p-5 flex flex-col gap-8 xl:grid xl:grid-cols-[1fr_0.4fr] xl:grid-rows-[1fr] xl:gap-x-5 xl:gap-y-5;
  }
  
body{
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

    
}